statemachine/before.asl.yaml
# Example Input:
# {
#   "file": {
#     "bucket": "bucket1",
#     "summaryFile": "file1.json",
#     "detailFile": "file2.json"
#   }
# }

Comment: An example state machine that uses Lambda functions to carry out certain tasks
StartAt: Generate UUID for ingestion run
States:
  Generate UUID for ingestion run:
    Type: Task
    Resource: arn:aws:states:::lambda:invoke
    Parameters:
      FunctionName: ${UuidGeneratorFunctionArn}
    ResultSelector:
      uuid.$: $.Payload
    ResultPath: $.ingestion
    Next: Get summary file from S3
  
  Get summary file from S3:
    Type: Task
    Resource: arn:aws:states:::lambda:invoke
    Parameters:
      FunctionName: ${DownloadS3ObjectFunctionArn}
      Payload:
        bucket.$: $.file.bucket
        key.$: $.file.summaryFile
    ResultSelector:
      data.$: $.Payload
    ResultPath: $.summary
    Next: Get detail file from S3
  
  Get detail file from S3:
    Type: Task
    Resource: arn:aws:states:::lambda:invoke
    Parameters:
      FunctionName: ${DownloadS3ObjectFunctionArn}
      Payload:
        bucket.$: $.file.bucket
        key.$: $.file.detailFile
    ResultSelector:
      data.$: $.Payload
    ResultPath: $.detail
    Next: Merge summary and detail

  Merge summary and detail:
    Type: Task
    Resource: arn:aws:states:::lambda:invoke
    Parameters:
      FunctionName: ${MergeJsonFunctionArn}
      Payload:
        left.$: $.summary.data
        right.$: $.detail.data
    ResultSelector:
      data.$: $.Payload
    ResultPath: $.merged
    Next: Store object

  Store object:
    Type: Task
    Resource: arn:aws:states:::lambda:invoke
    Parameters:
      FunctionName: ${PutS3ObjectFunctionArn}
      Payload:
        uuid.$: $.ingestion.uuid
        bucket.$: $.file.bucket
        body.$: $.merged.data
    End: True
